<aside class="select-side">
  <div class="dropdown-group">
    <label class="dropdown-label" for="userSelect">ユーザー選択</label>
    <select id="userSelect" [value]="globalState.userName()" (change)="onSelectUser($event)" [disabled]="!localState.isEnableSelectUser()">
      <option value="" disabled>ユーザを選択。</option>
      @for (user of userList; track user; let i = $index) {
        <option [value]="user">{{ user }}</option>
      }
    </select>
  </div>
  <div class="dropdown-group">
    <label class="dropdown-label" for="workSelect">作業選択</label>
    <select id="workSelect" [value]="globalState.workKind()" (change)="onSelectWork($event)" [disabled]="!localState.isEnableSelectWork()">
      <option value="" disabled>作業を選択。</option>
      @for (work of workList; track work; let i = $index) {
        <option [value]="work">{{ work }}</option>
      }
    </select>
  </div>
</aside>
