<div class="center-content">
  <div class="message">
    {{ message() }}
  </div>
  <div class="btn-group">
    <button
      class="action-btn complete"
      [disabled]="!localState.isEnableComplete()"
      (click)="onClickCompleteBtn()"
    >
      完了
    </button>
    <button
      class="action-btn cancel"
      [disabled]="!localState.isEnableCancel()"
      (click)="onClickCancelBtn()"
    >
      キャンセル
    </button>
    <button
      class="action-btn execute"
      [disabled]="!localState.isEnableExecute()"
      (click)="onClickExecuteBtn()"
    >
      実行
    </button>
  </div>
</div>
